{{#if logged_in}}
<form id="create-post">
    <h3>Create a New Post!</h3>
    Title: <input id="post-title" type="text" />
    Content: <input id="post-content" type="text" />

    <button type="submit">Create</button>
</form>
<div class='post-list'>
    {{#each posts as |post| }}
        <div class='post-wrapper'>
            <div class='flex-row'>
                <i>{{post.user.username}}</i>
                <a href="/post/{{post.id}}"><h1>{{post.post_title}}</h1></a>
                {{#if post.is_me}}
                <button onclick='deletePost(event)' class='btn btn-sm btn-danger' data-id="{{post.id}}">Delete Post</button>
                {{/if}}
            </div>
            <p id='body'>{{post.post_body}}</p>
            {{#each post.Comments as |comment|}}
                <h6>Comment From: {{comment.user.username}}</h6>
                <p>{{comment.comment_body}}</p>
            {{/each}}
            <form id="myForm" onsubmit="createCommentFunc(event); return false;" data-id='{{post.id}}'>
                Comment: <input id="comment_{{post.id}}" type="text"></input>
                <input type="submit"></input>
            </form>
        </div>
    {{/each}}
</div>
{{/if}}




<script src="/js/post.js"></script>